* {
   box-sizing: border-box;
}

.app-container {
   display: flex;
   flex-direction: column;
   margin: 2rem auto;
}

.h1 {
   margin-bottom: 10px;
}

.form-input {
   width: 295px;
}

.list {
   list-style-type: disclosure-closed;
}

.list-item {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 1.8rem;
}
